.checkbox{
    display: inline-block ;
    height: 25px;
    width: 25px;
    border: 1px solid #45494A;
    border-radius: 50%;
    margin: 0 10px;
}

.showGray{
    background-color: gray;
    border: 1px solid gray;
}

.showGreen{

    border: 1px solid green;
}

.showRed{
    border: 1px solid red;
}