.main {
    position: relative;


}

.test-title {
    text-align: center;
    color: #fff;
    background-color: #3C3F41 ;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-question{
    margin: 20px 10px;
}

.test-answers{
    background-color: #ecf0f6;
    padding: 20px;
    padding-bottom: 8%;
}

.test-answer{
    display: block;
    margin: 20px 0;
}
.separate-line{
    background-color: rgb(215,219,225, 0.9);
    height: 0;
    width: 95%;
    margin: 0 auto;
}